---
import { Image, Picture } from "astro:assets";

const { n, title, href, image } = Astro.props;
---

<div
  class="bg-brown-80 border-brown-gray flex flex-col justify-between gap-10 rounded-3xl border p-6 md:px-12 md:py-14 lg:flex-row lg:gap-28"
>
  <div class="flex max-w-80 flex-col gap-8 md:gap-24">
    <div class="flex items-center gap-3">
      <h3
        class="bg-orange-20 font-handjet inline-block rounded-sm px-1.5 py-0.5 text-2xl font-light text-orange-100 md:p-2.5 md:text-4xl"
      >
        {n}
      </h3>
      <h3>
        <a
          href={href}
          target="_blank"
          rel="noopener noreferrer"
          class="text-2xl transition-colors hover:text-orange-100 md:text-4xl"
        >
          {title}
        </a>
      </h3>
    </div>
    <p><slot name="description" /></p>
  </div>
  <div class="flex w-full items-center sm:min-w-sm">
    <a
      href={href}
      target="_blank"
      rel="noopener noreferrer"
      class="transition-opacity hover:opacity-80"
    >
      <Image
        densities={[0.5, 1.5, 2]}
        src={image}
        alt={title}
        class="rounded"
        width={500}
        height={300}
      />
    </a>
  </div>
</div>
